<?xml version="1.0"?>
<configuration>



	<!--<location path="Payment/Paypal/Handler.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="PayPalTest/PayPalTest/PDT/PDTStart.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="PayPalTest/PayPalTest/PDT/PDTSuccess.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="PayPalTest/PayPalTest/PDT/CancelPayment.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="PayPalTest/PayPalTest/IPN/IPNHandler.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>-->
</configuration>
