<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
	<appSettings>
		<add key="ADPayPalUsername" value="sellpr_1346179874_biz@yahoo.com"/>
		<add key="ADPDTToken" value="4Eb9eavLOyfORlZbN28BE35SJ7rS0VfupxNpNnAn76SEDBWusO0J0vVINCa"/>
		<add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
	</appSettings>

</configuration>
